
# Django #
*.log
*.pot
*.pyc
__pycache__/
./accounts/__pycache__/
./core/__pycache__/
./api/__pycache__/
db.sqlite3
media

# Python #
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/